<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Pokemon Team</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  </head>
  <body>
    <h2>Manage Pokemon Team</h2>

    <!-- TODO : Get all pokemon and use select2 -->
    <div>
      <label>Pokemon 1</label>
      <select id="pokemon1">
        <option value="1">Bulbasaur</option>
        <option value="4">Squirtle</option>
        <option value="7">Charmander</option>
        <option value="20">Butterfree</option>
        <option value="21">Heracross</option>
        <option value="22">Ariados</option>
        <option value="23">Pineco</option>
        <option value="24"></option>
      </select>
    </div>
    <div>
      <label>Pokemon 2</label>
      <select id="pokemon2">
        <option value="2">Ivysaur</option>
        <option value="5">Wartortle</option>
        <option value="8">Charmeleon</option>
        <option value="20">Butterfree</option>
        <option value="21">Heracross</option>
        <option value="22">Ariados</option>
        <option value="23">Pineco</option>
        <option value="24"></option>
      </select>
    </div>
    <div>
      <label>Pokemon 3</label>
      <select id="pokemon3">
        <option value="1">Bulbasaur</option>
        <option value="4">Squirtle</option>
        <option value="7">Charmander</option>
        <option value="20">Butterfree</option>
        <option value="21">Heracross</option>
        <option value="22">Ariados</option>
        <option value="23">Pineco</option>
        <option value="24"></option>
      </select>
    </div>
    <div>
      <label>Pokemon 4</label>
      <select id="pokemon4">
        <option value="1">Bulbasaur</option>
        <option value="4">Squirtle</option>
        <option value="7">Charmander</option>
        <option value="20">Butterfree</option>
        <option value="21">Heracross</option>
        <option value="22">Ariados</option>
        <option value="23">Pineco</option>
        <option value="24"></option>
      </select>
    </div>
    <div>
      <label>Pokemon 5</label>
      <select id="pokemon5">
        <option value="1">Bulbasaur</option>
        <option value="4">Squirtle</option>
        <option value="7">Charmander</option>
        <option value="20">Butterfree</option>
        <option value="21">Heracross</option>
        <option value="22">Ariados</option>
        <option value="23">Pineco</option>
        <option value="24"></option>
      </select>
    </div>
    <div>
      <label>Pokemon 6</label>
      <select id="pokemon6">
        <option value="1">Bulbasaur</option>
        <option value="4">Squirtle</option>
        <option value="7">Charmander</option>
        <option value="20">Butterfree</option>
        <option value="21">Heracross</option>
        <option value="22">Ariados</option>
        <option value="23">Pineco</option>
        <option value="24"></option>
      </select>
    </div>

    <script>
        let socket = new WebSocket("ws://127.0.0.1:8080/ws");
        console.log("Attempting Connection...");

        socket.onopen = () => {
            console.log("Successfully Connected");
        };

        socket.onclose = event => {
            console.log("Socket Closed Connection: ", event);
            socket.send("Client Closed!")
        };

        socket.onerror = error => {
            console.log("Socket Error: ", error);
        };

        var pokemon1 = document.getElementById("pokemon1");
        var pokemon2 = document.getElementById("pokemon2");
        var pokemon3 = document.getElementById("pokemon3");
        var pokemon4 = document.getElementById("pokemon4");
        var pokemon5 = document.getElementById("pokemon5");
        var pokemon6 = document.getElementById("pokemon6");
        let team = {{ .Team }};

        function updatePokemonTeam (team) {
          socket.send(JSON.stringify({"body": {"team": team}}));
        }

        pokemon1.addEventListener('change', (event) => {
          team[0] = parseInt(event.target.value);
          updatePokemonTeam(team);
        });

        pokemon2.addEventListener('change', (event) => {
          team[1] = parseInt(event.target.value);
          updatePokemonTeam(team);
        });

        pokemon3.addEventListener('change', (event) => {
          team[2] = parseInt(event.target.value);
          updatePokemonTeam(team);
        });

        pokemon4.addEventListener('change', (event) => {
          team[3] = parseInt(event.target.value);
          updatePokemonTeam(team);
        });

        pokemon5.addEventListener('change', (event) => {
          team[4] = parseInt(event.target.value);
          updatePokemonTeam(team);
        });

        pokemon6.addEventListener('change', (event) => {
          team[5] = parseInt(event.target.value);
          updatePokemonTeam(team);
        });
    </script>
  </body>
</html>