<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Client view</title>
    <style>
      p {
        color: rgb(68, 0, 255);
        background-color: rgb(132, 132, 233);
        font-family: Monospace;
      }
    </style>
  </head>
  <body>
    <h2>My current team</h2>

    <div>
      <div>
        <img id="pokemon1" src=""/>
      </div>
      <div>
        <img id="pokemon2" src=""/>
      </div>
      <div>
        <img id="pokemon3" src=""/>
      </div>
      <div>
        <img id="pokemon4" src=""/>
      </div>
      <div>
        <img id="pokemon5" src=""/>
      </div>
      <div>
        <img id="pokemon6" src=""/>
      </div>
    </div>

    <script>
        let socket = new WebSocket("ws://127.0.0.1:8080/ws");
        console.log("Attempting Connection...");

        socket.onopen = () => {
            console.log("Successfully Connected");
        };

        socket.onclose = event => {
            console.log("Socket Closed Connection: ", event);
            socket.send("Client Closed!")
        };

        socket.onerror = error => {
            console.log("Socket Error: ", error);
        };

        // Listen the messages
        socket.addEventListener('message', function (event) {
          console.log('Message from server', event.data);
          const dataDecoded = JSON.parse(event.data);
          console.info(event.data)
          if (dataDecoded['body']['team'] != null) {
            const team = dataDecoded['body']['team'];
            console.info(team)
            document.getElementById("pokemon1").src = "/static/img/"+team[0]+".gif"
            document.getElementById("pokemon2").src = "/static/img/"+team[1]+".gif"
            document.getElementById("pokemon3").src = "/static/img/"+team[2]+".gif"
          } else {
            document.getElementById("pokemon1").src = "";
          }
        });

    </script>
  </body>
</html>